{% extends "main/layout.html" %}

{% block body %}
    <!--fin navbar e inicio del body-->
    <div class="bg-primary p-2 m-5 rounded"> 
        <div class="text-center display-5 mb-4">Acerca de</div>
        <span class="">Jaguarete Kaa S.A.</span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ut. Laborum, non commodi ex labore recusandae incidunt voluptatibus eaque culpa aperiam, error excepturi adipisci impedit quibusdam tempora sequi a minus.
    Id, deserunt? Id saepe omnis doloribus eveniet, eos sint ex ipsam non, modi, soluta assumenda quia possimus quod fugiat molestias libero. Recusandae quia saepe deleniti. Commodi temporibus distinctio minima quam.
    Voluptatum, explicabo facilis id, similique, vitae adipisci distinctio eaque libero aspernatur sapiente consequuntur ad quas laudantium nulla minus nihil iste cum nesciunt omnis aperiam illo facere vel consectetur! Rerum, exercitationem?
    Ea temporibus incidunt recusandae, iste nesciunt voluptates perferendis numquam, ducimus odio eaque provident aliquid praesentium corporis ipsa culpa accusamus error sunt at voluptate ipsam maiores pariatur facere dolorem vero. Consequatur.
    Accusamus recusandae error praesentium autem quod excepturi repudiandae sint fuga maiores, quia odit alias earum velit molestiae voluptas ea in natus, eius saepe! Omnis aut suscipit id, illo voluptas iure!
    Modi, eligendi nihil voluptatum perferendis omnis ipsum blanditiis iure laborum dolore asperiores autem amet labore quas eius tempore porro ab aut. Necessitatibus voluptatibus nemo fugiat libero corporis dicta neque veritatis.
    Earum, officia inventore autem quisquam voluptatibus, sint consequatur sunt praesentium similique repellendus pariatur cupiditate quam ratione dolorum molestias. Architecto, minus? Libero voluptas aut vitae, aliquam corrupti aperiam nihil quae dicta.
    Magni corporis dignissimos impedit nulla mollitia saepe qui odit voluptate sapiente modi, quam nobis molestiae maxime minus vero numquam consequuntur nam error laborum officia excepturi soluta facere distinctio. Ipsum, tenetur!
    Illo, dignissimos tenetur placeat quos sapiente voluptates dolores pariatur ea, vel quo commodi, atque dolorem dolorum eaque nulla quasi iusto harum quidem iure. Necessitatibus qui magnam laborum! Error, sed quod.
    Debitis, facilis distinctio quidem quibusdam iusto maiores, ea et rem, minus possimus fuga sint perspiciatis id. Aliquam harum cupiditate atque, suscipit tenetur magnam quae unde sit voluptas deserunt tempora error.
    </div>

    




     {% endblock %}